# Loan Default Prediction
## Step 5: Modelling (LogReg)
## Table of Content
11. Imports and Data Loading
12. Test KNN
13. Hyperparameter Tuning
14. Final KNN Model

## 5.11 Imports and Data Loading

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import classification_report
from sklearn.metrics import brier_score_loss, log_loss
from sklearn.metrics import roc_auc_score, RocCurveDisplay

In [3]:
# As before, load training data
df = pd.read_csv('../data/interim/train.csv')
df.head()

,Unnamed: 0,customer_id,credit_lines_outstanding,loan_amt_outstanding,total_debt_outstanding,income,years_employed,fico_score,default
0,5038,6071496,3,2507.210974,8599.977362,47737.07095,6,618,0
1,8929,5006576,0,3879.481181,4894.867489,70287.44380,4,631,0
2,9024,3181518,0,2517.012371,2958.774379,39506.04322,5,763,0
3,3218,3770987,2,6581.765984,9023.147830,84959.97714,8,711,0
4,8550,3481740,5,5243.031680,27422.854140,85183.17609,4,586,1

In [4]:
# Apply the same feature reduction as before to draw comparison
X = df[['income', 'years_employed', 'fico_score']]
y = df['default']

## 5.12 Test LogReg

We have loaded the training data into variables X and y. Here we will:
1. perform a train/test split
2. build a first LogReg model using default parameters
3. examine the performance of the model

In [ ]:
class sklearn.neighbors.KNeighborsClassifier
# Perform train/test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.1, random_state=23)